version: "3.8"
services:
  head-node:
    build: .
    image: builder-mpi
    ports:
      - 8000:8000
    depends_on: 
      - worker-node
    links:
      - worker-node
    volumes:
      - build-data:/home/mpirun/build
    networks:
      - web-app-network
      - builder-network

  worker-node:
    build: .
    image: builder-mpi
    volumes:
      - build-data:/home/mpirun/build
    networks:
      - builder-network
      
networks:
  web-app-network:
    name: builder-app-network
  builder-network:
    driver: bridge

volumes:
  build-data:

